/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.activator, .pointer{
  cursor: pointer;
}


.readable{
  text-shadow: 1px 1px 1px rgba(100, 100, 100, 1);
}
.readable-on-bright{
  text-shadow: 1px 1px 1px rgba(200, 200, 200, 1);
}
.readable-on-dark{
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}

.no-buffer{
  margin: 0px !important;
  padding: 0px !important;
}
#bannerLogo{
  background-color: #ffffff;
  opacity: 0.75;
  margin-bottom: 20px;
}

#nav-mobile #bannerLogo{
  margin-bottom: 20px;
  margin-top: 20px;
}

.panel{
  padding: 15px;
  background-color: white;
  opacity: 0.90;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.check-list {
}

.check-list li {
  position: relative;
}

.check-list li p {
  padding: 0px 0px 0px 15px;
  margin: 0px 0px 7px 0px;
}

.check-list li span {
  position: absolute;
  left: -15px;
  top: +5px;
}

.btn-floating-label{
  margin-top: 15px;
}

 /* start:parallax */
.parallax-smooth {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-perspective: 1px;
  perspective: 1px;
}

.parallax-smooth-layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.parallax-smooth-layer-base {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.parallax-smooth-layer-back {
  -webkit-transform: translateZ(-1px) scale(2);
  transform: translateZ(-1px) scale(2);
}

.parallax-smooth-area{
  background: none;
}

.parallax-smooth-cover{
  background-color: white;
}

/* end: parallax*/

