/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.bg-brick{
  background-image: url("/theme/wall2/Parallax.jpg");
  background-position: center top;
  background-repeat: no-repeat;
}

.bg-wood{
  background-image: url("/theme/wall2/Parallax.jpg");
  background-position: center bottom;
  background-repeat: no-repeat;
}

.bg-color{
  background-color: white;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

#banner{
  padding-bottom: 15px;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.activator, .pointer{
  cursor: pointer;
}


.readable{
  text-shadow: 1px 1px 1px rgba(100, 100, 100, 1);
}
.readable-on-bright{
  text-shadow: 1px 1px 1px rgba(200, 200, 200, 1);
}
.readable-on-dark{
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}

.no-buffer{
  margin: 0px !important;
  padding: 0px !important;
}
#bannerLogo{
  background-color: #ffffff;
  opacity: 0.75;
  margin-bottom: 20px;
}

#mobileBannerLogo{

}

.panel{
  padding: 15px;
  background-color: white;
  opacity: 0.90;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.check-list {
}

.check-list li {
  position: relative;
}

.check-list li p {
  padding: 0px 0px 0px 15px;
  margin: 0px 0px 5px 0px;
}

.check-list li span {
  position: absolute;
  left: -15px;
  top: +5px;
}

.btn-floating-label{
  margin-top: 15px;
}

.price{
  font-size: 16px !important;
}

.price .price-hint{
  font-size: 12px !important;
}

.read-more .material-icons{
  position: relative;
  top: +5px;
}